/*FOOTER*/

footer {
    background-color: #f8a66f;
    bottom: 0;
    height: auto;
    width: 100%;

    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
      margin: 0;

      .footer-img {
          width: 200px;
          height: 200px;
          margin: 30px;
          border-radius: 100%;
       }

      .nav-item {
        font-family: 'Truculenta';
        font-size: 1.8rem;
        transition: .3s;
      }

      .marquee {
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #e68200;
        border-bottom: 1px solid #e68200;
        
        .marquee-content {
          text-decoration: none;
          
          ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            transition: 0.6s;
            animation: marquee-animation 20s linear infinite;
            
            li {
              color: rgb(209, 111, 30);
              background-color: #ffa66b;
              font-size: 4rem;
              padding: 30px;
              transition: 0.3s;
            }
            
            &:hover {
                scale: 1.1;
                li {
                  background-color: #ff9853;
                  color: #000;
                }
            }
          }
        }
      }
        
        @keyframes marquee-animation {
          0% {
            transform: translateX(0);
          }
          
          100% {
            transform: translateX(-100%);
          }
        } 
    }
  }