/*HEADER*/

.header-pant {
    background-image: url("../imagenes/yaguareteheader.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    align-content: center;
    h1 {
        width: 100%;
        height: 1000px;
        color: aliceblue;
        font-family: 'Kanit';
        font-size: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@keyframes show {
    from {
        opacity: 1;
        scale: 100%;
    }

    to {
        opacity: 0;
        scale: 30%;
    }
}
 
h1 {
    view-timeline-name: --title;
    view-timeline-axis: block;

    animation-timeline: --title;
    animation-name: show;

    animation-range: entry 100% cover 100%;
}
