/*MAIN DISTRIBUCION*/

.dis {
  background-color: $light-color;
    width: 100%;
    padding: 20px;
    @include flex (row, wrap, center, center, center);

    .dis-content {
        text-align: justify;
        background-color: $second-light-color;
        border: 5px ridge  #f8a66f;
        width: 1100px;
        height: auto;
        padding: 20px;
        border-radius: 5px;

        p {
          @include font (1.7rem, 'Kanit');
        }
    }
}

/*CAROUSEL*/

#carouselExample {
  background-color: $second-light-color;
  width: 100%;
  height: auto;
  padding: 10px;
    
    .carousel-inner,
    .carousel-item {
      height: 700px;
      transition: 1s;
      
      img {
        @include img (100%, 100%, contain);
      }
    }
  }