// @MEDIA QUERIS

@media (max-width: 1439px) {
    header {   
        .anim-up {
            font-size: 15rem;
        }
    }
}

@media (max-width: 1099px) {
    header {   
        .anim-up {
            font-size: 10rem;
        }
    }
    

    @keyframes show {
        from {
            opacity: 1;
            scale: 100%;
        }
    
        to {
            opacity: 0;
            scale: 0%;
        }
    }
    
    h1 {
        view-timeline-name: --title;
        view-timeline-axis: block;
    
        animation-timeline: --title;
        animation-name: show;
    
        animation-range: cover 1300px;
    }
}

@media (max-width: 767px) {
    header {   
        .anim-up {
            font-size: 7rem;
        }
    }
    header {
        h1 {
            height: 800px;
    }
}
    @keyframes show {
        from {
            opacity: 1;
            scale: 100%;
        }
    
        to {
            opacity: 0;
            scale: 25%;
        }
    }
    
    h1 {
        view-timeline-name: --title;
        view-timeline-axis: block;
    
        animation-timeline: --title;
        animation-name: show;
    
        animation-range: entry 100% cover 100%;
    }
}


@media (max-width: 499px) {
    header {   
        .anim-up {
            font-size: 5.5rem;
        }
    }

    header{
        h1 {
            height: 800px;
        }
    } 
    @keyframes show {
        from {
            opacity: 1;
            scale: 100%;
        }
    
        to {
            opacity: 0;
            scale: 25%;
        }
    }
    
    h1 {
        view-timeline-name: --title;
        view-timeline-axis: block;
    
        animation-timeline: --title;
        animation-name: show;
    
        animation-range: entry 100% cover 100%;
    }
}

@media (max-width: 399px) {
    header {   
        .anim-up {
            font-size: 4.5rem;
        }
    }

    header{
        h1 {
            height: 800px;
        }
    } 
    
    @keyframes show {
        from {
            opacity: 1;
            scale: 100%;
        }
    
        to {
            opacity: 0;
            scale: 25%;
        }
    }
    
    h1 {
        view-timeline-name: --title;
        view-timeline-axis: block;
    
        animation-timeline: --title;
        animation-name: show;
    
        animation-range: entry 100% cover 100%;
    }
}


@media (max-width: 1379px) {
    .row {
        justify-content: flex-start;
        justify-content: space-evenly;
    }
}

// MEDIAQUERIES INICIO

@media (max-width: 1039px) {
    .hero {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'box1 box1 box6'
        'box4 box4 box6'
        'box7 box3 box3'
        'box7 box5 box2';
        padding: 10px;
        gap: 10px;
    }
}

@media (max-width: 899px) {
    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'box1 box6'
        'box2 box6'
        'box7 box4'
        'box7 box5'
        'box3 box3';
        padding: 10px;
        gap: 10px;
    }
}

@media (max-width: 599px) {
    .hero {
        display: flex;
        flex-direction: column;
        .hero-content {
            background-color: transparent;
            min-height: 0;
        }
    }    
}   


@media (max-width: 1199px) {
    .hero {
        .hero-content {
            .hero-item {
                padding: 0;
                p {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media (max-width: 829px) {
    .hero {
        .hero-content {
            .hero-item {
                p {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        .hero-content {
            .hero-item {
            background-color: rgba(0, 0, 0, 0.730);
                p {
                    color: white;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    @include font (1.8rem, 'Galdeano');
                    @include flex($justify-content: flex-start, $align-content: flex-end);
                }
            }
        }
    }
}

@media (max-width: 624px) {
    .hero {
        .hero-content {
            .hero-item {
                p {
                    font-size: 1.7rem;
                }
            }
        }
    }
}

@media (max-width: 489px) {
    .hero {
        .hero-content {
            .hero-item {
                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media (max-width: 439px) {
    .hero {
        .hero-content {
            .hero-item {
                p {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media (max-width: 382px) {
    .hero {
        .hero-content {
            .hero-item {
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 1840px ) {
    .poss {
        img {
            width: 600px;
            height: 400px;
        }
        .poss-content{
            width: 600px;
            height: auto;
        }
    }
}

@media (max-width: 1710px ) {
    .poss {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        .poss-content {
            font-size: 1.9rem;
        }
    }
}

@media (max-width: 1129px ) {
    .poss {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 15px 0 15px 0;
    }
}

@media (max-width: 879px ) {
    .poss {
        img {
            width: 500px;
            height: 310px;
        }
        .poss-content {
            width: 500px;
            height: auto;
        }
    }
}

@media (max-width: 539px) {
    .poss { 
        img { 
            width: 410px; 
            height: 260px; 
        } 

        .poss-content { 
            width: 410px; 
            height: auto; 
            p { 
                font-size: 1.4rem; 
            }  
        }  
    }  
} 


@media (max-width: 424px) {
    .poss {
        img {
            width: 350px;
            height: 240px;
        }
        .poss-content {
            width: 300px;
            height: auto;
        }
    }
}

@media (max-width: 379px) {
    .poss { 
        img { 
            width: 305px; 
            height: 200px; 
        }  
    }  
} 

@media (max-width: 1390px) {
    .vidau {  
        .vidau-content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
} 

@media (max-width: 889px) {
    .vidau {
        .vidau-content { 
            .iframe-content {
                video {
                    width: 550px;
                    height: 310px;
                    border: none;
                    border-radius: 10px;
                }
            }
        } 
    }
} 

@media (max-width: 599px) {
    .vidau {
        .vidau-content { 
            .iframe-content {
                video {
                    width: 470px;
                    height: 265px;
                }
            }
        } 
    }
} 

@media (max-width: 518px) {
    .vidau {
        .vidau-content { 
            .iframe-content {
                video {
                    width: 360px;
                    height: 202px;
                }
            } 
        }
    }
}

@media (max-width: 439px) {
    .vidau {
        .vidau-content {
            .iframe-content {
                video {
                    width: 300px;
                }
            }
            
            div {
                audio {
                    width: 300px;
                    height: 50px;
                    display: flex;
                    align-self: center;
                }
            }
        }
    }
}

@media (max-width: 399px) {
    .vidau {
        .vidau-content {
            .iframe-content {
                video {
                    width: 270px;
                    height: 170px;
                }
            }
            
            div {
                width: 100%;
            }
        }
    }
}

// MEDIAQUERIES SITUACION ACTUAL

@media (max-width: 1669px) {
    .sit {
        .sit-content {
            width: 1300px;
            p {
                height: auto;
            }
        }
    }
}

@media (max-width: 1349px) {
    .sit {
        .sit-content {
            width: 1000px;
            p {
                height: auto;
                font-size: 1.7rem;
            }
        }
    }
}

@media (max-width: 1049px) {
    .sit {
        gap: 30px;
        .sit-content {
            width: 600px;
            p {
                height: auto;
                font-size: 1.4rem;
            }
        }
    }
}

@media (max-width: 649px) {
    .sit {
        gap: 40px;
        .sit-content {
            width: 400px;
            p {
                height: auto;
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 439px) {
    .sit {
        height: 1300px;
        gap: 40px;
        .sit-content {
            width: 300px;
            p {
                height: auto;
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 1769px) {
    .act {
        .act-content {
            gap: 60px;
            img {
                width: 600px;
                height: 900px;
            }
            p {
                width: 600px;
                height: 800px;
                font-size: 1.6rem;
            }
        }
    }
}

@media (max-width: 1319px) {
    .act {
        padding: 25px;
        height: 100%;
        .act-content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            p {
                height: 500px;
                width: 1000px;
            }
        }
    }
}

@media (max-width: 1079px) {
    .act {
        .act-content {
            p {
                width: 600px;
                height: auto;
            }
        }
    }
}

@media (max-width: 669px) {
    .act {
        .act-content {
            img {
                width: 400px;
                height: 700px;
            }
            p {
                width: 400px;
                padding: 25px;
            }
        }
    }
}

@media (max-width: 459px) {
    .act {
        .act-content {
            img {
                width: 300px;
                height: 500px;
            }
            p {
                width: 300px;
                font-size: 1.4rem;
            }
        }
    }
}

@media (max-width: 349px) {
    .act {
        .act-content {
            img {
                width: 250px;
                height: 400px;
            }
            p {
                width: 250px;
                font-size: 1.2rem;
            }
        }
    }
}

// MEDIAQUERIES DISTRIBUCION

@media (max-width: 790px) {
    .dis {
        .dis-content {
            height: auto;
            p {
                font-size: 1.4rem;
            }
        }
    }
}

@media (max-width: 749px) {
    .dis {
        .dis-content {
            width: 700px;
            height: auto;
            p {
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 539px) {
    .dis {
        .dis-content {
            height: auto;
            p {
                padding: 10px;
            }
        }
    }
}

@media (max-width: 535px) {
    .dis-content {
        font-size: 0.7rem;
        height: 150px;
    }
}

@media (max-width: 419px) {
    .dis-content {
        font-size: 0.6rem;
        height: 150px;
    }
    #carouselExample {
        padding: 0;
    }
}

// MEDIAQUERIES NOTICIAS

@media (max-width: 539px) {
    .cards {
        gap: 30px;
        padding: 15px;
        margin: 10px;
    }
}

@media (max-width: 539px) {
    .cards{
        .card {
            width: 340px;
        }
    }
}

@media (max-width: 439px) {
    .cards {
        .card {
            a {
                font-size: 12px;
                width: 250px;
            }
        }
    }
}

@media (max-width: 549px) {
    .cias {
        height: 500px;
        background-size: cover;
        background-position-x: left;
    }
}

@media (max-width: 770px) {
    .cias {
        .cias-content {
            iframe {
                width: 610px;
                height: 340px;
            }
        }
    }
}

@media (max-width: 670px) {
    .cias {
        .cias-content {
            iframe {
                width: 500px;
                height: 280px;
            }
        }
    }
}

@media (max-width: 549px) {
    .cias {
        .cias-content {
            iframe {
                width: 370px;
                height: 205px;
            }
        }
    }
}

@media (max-width: 439px) {
    .cias {
        height: 350px;
        .cias-content {
            iframe {
            width: 270px;
            height: 150px;
            }
        }
    }
}

// MEDIAQUERIES CONTACTO

@media (max-width: 459px) {
    .cont {
        .form-content {
            div {
                input {
                    width: 250px;
                }

                textarea {
                    width: 250px;
                }
            }
        }
    }
}

@media (max-width: 399px) {
    .cont {
        .form-content {
            div {
                input {
                    width: 200px;
                }

                textarea {
                    width: 200px;
                }
            }
        }
    }
}