/*FONT-FAMILYS*/

@font-face {
    font-family: 'Truculenta';
    src: url('../assets/Truculenta/static/Truculenta-Black.ttf');
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/Kanit/Kanit-Bold.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/Nunito/static/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Galdeano';
    src: url('../assets/Galdeano/Galdeano-Regular.ttf');
}

@font-face {
    font-family: 'Mandali';
    src: url('../assets/Mandali/Mandali-Regular.ttf');
}