* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', 'serif';
}

html {
    font-size: 62.5%;
}

body {
    background-color: bisque;
    margin: 0;
}

.bg-naranja {
	background-color: #f8a66f;
}