
$main-color: #f98404; 
$secondary-color: #ff9a3c; 
$light-color: #f8a66f; 
$second-light-color: #ffc691; 
$third-light-color: #fcdab1;
$dark-color: #ff7300b9; 
$light-yellow: #ffc34d; 
$dark-yellow: #dda900; 
